<h1>Data fetching</h1>

<p>
  Storefront's main service acts as a replacement for Ember Data's <code>store</code>. It's built directly on top of Ember Data, but is more intelligent about caching. Another way to say this is that Storefront's <code>find</code> methods are query-aware.
</p>

<hr>

{{!-- <p>Storefront's version of <code>findAll</code> is similar to Ember Data's with one important exception: it caches results based on the complete set of options you pass to it. Ember Data, on the other hand, resolves calls to <code>findAll</code> by returning everything in its local store.</p> --}}

<p>Ember Data's <code>store.findAll</code> method is used to fetch a collection from your backend. Typically this method will return a blocking promise while the network request is in progress; however, if Ember Data has any local records in its store when <code>findAll</code> is called, it will resolve the promise immediately and return everything in its local store, and then trigger a network request in the background. This can lead to unexpected rendering behavior.</p>

<p>In the following example, compare how the app behaves when you visit the routes in a different order:</p>
<ul>
  <li>First, visit <code>/posts</code>, then visit <code>/posts/1</code>.</li>
  <li>When you're done, reset the app.</li>
  <li>This time, visit <code>/posts/1</code> first and <code>/posts</code> second.</li>
</ul>

{{docs/guides/data-fetching/demo-1}}

<p>If you followed the steps above, what you'll notice is that under the second scenario, the <code>/posts</code> route was actually rendered in two states. First, it showed <code>post:1</code> in the list, and then after about a second the app re-rendered and the other two posts appeared.</p>

<p>This is because the <code>/posts/1</code> route had already loaded the <code>post:1</code> record into Ember Data's store. By the time you visited the <code>/posts</code> index route, the promise from the store's <code>findAll</code> method resolved immediately with that <code>post:1</code> record, and then triggered a background reload of the entire <code>posts</code> collection. (Click the {{fa-icon 'angle-down'}} above to expand the demo for more details about what's happening as you navigate through the app.)</p>

<p>Ember Data's <code>findAll</code> method accepts a <code>reload</code> option that we can use to force the promise to block, but then we'd lose the benefits of caching. (Note how after visiting <code>/posts</code> for the first time, it's fast on all subsequent visits.)</p>

<p>Storefront's modified version of <code>findAll</code> was designed to avoid re-rendering problems like this. Let's make one small change to our routes: we'll replace Ember Data's <code>store</code> with the <code>storefront</code> service:</p>

{{#docs-snippet name="your-snippet-name"}}
  model() {
-   return this.get('store').findAll('post');
+   return this.get('storefront').findAll('post');
  }

  model() {
-   return this.get('store').findRecord('post', 1);
+   return this.get('storefront').findRecord('post', 1);
  }
{{/docs-snippet}}

<p>
  Now let's take a look at our app (be sure to click reset first):
</p>

{{docs/guides/data-fetching/demo-2}}

<p>
  Notice that the behavior for the second scenario has changed. If we visit <code>/posts/1</code> first, and then click on <code>/posts</code>, we get a blocking promise. Storefront knows you've never called <code>findAll</code> for the <code>post</code> model yet, so instead of resolving instantly with the one post you happen to have in the store, it issues a network request for all posts and returns a blocking promise. In this way, you avoid the index route being in a state that you as the developer didn't intend.
</p>

<p>Philosophically, Storefront's position is that routes (and other data-loading parts of your application) should be as declarative as possible. If you return <code>findAll('post')</code> from your route, you are declaring that this route needs a list of all posts in order to render. If your application has never made that network request, then it should block until it has made it for the first time. On subsequent visits, the page will render instantly using the cached value, as you can see by clicking around in the demo above.</p>

{{!-- <h2>Loading a model</h2> --}}
