{{docs-hero
  logo='ember-data'
  strong-heading='Storefront'
  byline='An opinionated approach to working with Ember Data'}}

<div class='docs-container docs-md'>
  <section class='docs-section'>
    <h1>Overview</h1>
    <p>Storefront is an attempt to expose Ember Data's best patterns in a minimal interface. The idea is to provide an opinionated, constrained and consistent way to load and access data within an Ember application.</p>
    <p>Our opinions are</p>
    <ul>
      <li>Relationship access in templates and computed properties should always be sync</li>
      <li>Relationship fetching over the network should be done explicitly and with well-defined APIs</li>
      <li>Servers should use JSON:API and support standard query params like includes, filtering, and pagination</li>
    </ul>
    <p>These constraints address several common pain points in Ember application development like</p>
    <ul>
      <li>FOUC or N+1 rendering issues in templates</li>
      <li>Making unnecessary network requests</li>
      <li>Routes being accessed with incomplete data</li>
    </ul>
    <p>and more.</p>
  </section>
</div>
