{{docs-hero}}

<div class='docs-container'>
  <div class='pv5 text-center'>
    <div class='mw7 center mb4'>
      <div class='aspect-ratio aspect-ratio--16x9'>
        <iframe
          class='aspect-ratio--object'
          width="640"
          height="360"
          src="https://www.youtube.com/embed/X-LjrRx2wMI?start=1250"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <section class='measure-wide center pb6 docs-md'>
    {{index/x-intro}}

    <div class="mt5 tr">
      {{#docs-link 'docs'}}
        {{#ui-button}}
          Get started &rarr;
        {{/ui-button}}
      {{/docs-link}}
    </div>
  </section>
</div>
