{{docs-hero
  logo='ember-data'
  strongHeading='Storefront'
  byline='Predictable data-loading APIs for Ember Data'}}

<div class='docs-container'>
  <section class='measure-wide center pb6 docs-md'>

    {{index/x-intro}}

    <div class="mt5 tr">
      {{#docs-link 'docs'}}
        {{#ui-button}}
          Get started &rarr;
        {{/ui-button}}
      {{/docs-link}}
    </div>
  </section>
</div>
