.docs-snippet {
  max-width: 100%;
  overflow: scroll;
}

.demo2 {
  background: #fafafa;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;

  &__top-section,
  &__bottom-left-section,
  &__bottom-right-section {
    padding: 20px;
  }

  &__top-section {
    flex: 1 0 100%;
  }

  &__bottom-section {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #C8C8C8 64%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 16px 1px;
    background-repeat: repeat-x;
  }

  &__bottom-left-section {
    width: 30%;
    background-image: linear-gradient(#C8C8C8 64%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 1px 16px;
    background-repeat: repeat-y;
  }
  &__bottom-right-section {
    width: 70%;
  }

  &__section-heading {
    color: #ABABAB;
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__panel {
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  &__panel-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  &__panel-subtitle {
    font-size: 12px;
  }

  &__app-link {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #7ED321;
    font-weight: bold;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: lighten(#7ED321, 35%);
    }
  }
  &__app-link-active {
    &, &:hover {
      border-bottom-color: #7ED321;
    }
  }

  &__app-url {
    font-size: 14px;
    color: #999;
  }

  &__table {
    thead td {
      color: #999;
    }
  }

  &__flex {
    display: flex;
  }

  &__flex-items-center {
    align-items: center;
  }

  &__mla {
    margin-left: auto;
  }

  &__flex-w30 {
    flex: 0 0 30%;
  }

  &__flex-w70 {
    flex: 0 0 70%;
    padding-right: 15px;
  }
  &__flex-w50 {
    flex: 0 0 50%;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
  }

  &__btn {
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    background: #7ED321;
    box-shadow: 0 2px 0 0 #417505;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;

    &:hover {
      cursor: pointer;
      background: darken(#7ED321, 5%);
    }
  }

  &__subtle {
    color: #999;
  }

  &__list {
    padding-left: 20px;
  }
  &__expander {
    text-align: center;
    color: #999;
    font-size: 24px;
  }
}
