<h1>Fastboot tests</h1>

<p>
  This page was rendered by fastboot, which made an AJAX
  request to get the posts. This request should be in the
  shoebox.
</p>

{{#each model as |post|}}
  <div data-test-id={{concat "post-" post.id}}>
    {{post.title}}
  </div>
{{/each}}
